<div class="card" style="font-family: 'Questrial', sans-serif;">
          <div id="userID">
            {{user.username}}
<<<<<<< HEAD
        </p>
            <a href="post/{{id}}">{{comments.length}}</comments></a>
        
    </div>

=======
        </div>
        <a href="/post/{{id}}" class="postTitle">{{title}}</a>
        <div >
          {{post_text}}  
        </div>
>>>>>>> a60e056c8ef604bcbb12e2b5d5f73a32749ac765
</div>