<div class="searchResults card">
  <div class="searchImg">
    <img src="{{plant.default_image.small_url}}" alt="" id ="{{plant.id}}">
  </div>
  <h2>{{plant.common_name}}</h2>
  <section class="table">
    <h4>Sunlight: {{plant.sunlight}}</h4>
    <h4>Watering: {{plant.watering}}</h4>
    <h4>Invasive: {{plant.invasive}}</h4>
    <h4>Indoor: {{plant.indoor}}</h4>
  </section>
</div>