<div class="selectedPlant">
  <p>
   {{plant.common_name}} 
</p>
  <img src="{{plant.default_image.small_url}}" alt="" id="{{plant.id}}" class="selectedImg">
<div>
  Sunlight:{{plant.sunlight}} <br>
  Watering:{{plant.watering}} <br>
  Invasive: {{plant.invasive}} <br>
  Indoor: {{plant.indoor}} 
</div>
</div>